demo_csharp/Service References/CustomerService/ICustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://service.xsd.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://service.xsd.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.xsd.com">
      <xsd:element name="QueryInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CustomerId" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QueryInfoResponse">
    <wsdl:part name="parameters" element="tns:QueryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="QueryInfoRequest">
    <wsdl:part name="parameters" element="tns:QueryInfo" />
  </wsdl:message>
  <wsdl:portType name="ICustomerServicePortType">
    <wsdl:operation name="QueryInfo">
      <wsdl:input name="QueryInfoRequest" message="tns:QueryInfoRequest" />
      <wsdl:output name="QueryInfoResponse" message="tns:QueryInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICustomerServiceHttpBinding" type="tns:ICustomerServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="QueryInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QueryInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICustomerService">
    <wsdl:port name="ICustomerServiceHttpPort" binding="tns:ICustomerServiceHttpBinding">
      <wsdlsoap:address location="http://219.148.61.16:8099/webServiceXSDtest/services/ICustomerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>